
<!-- include _header -->
  <%- include('include/_header')%>
<!-- /include _header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/"><i class="fas fa-angle-double-left"></i>All Questions</a>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update Question</h2>
      <span class="text-light">Use the bellow form to update a card</span>
    </div>

    <!-- update question form -->
    <form method="POST" id="update_question">
      <div class="new_question">
        <div class="form-group">
          <label for="question" class="text-light">Question</label>
          <input type="hidden" name="id" value="">
          <input type="text" name="question" value="" placeholder="Type the banky question here...">
        </div>

        <div class="form-group">
          <label for="answer" class="text-light">Answer</label>
          <input type="text" name="answer" value="" placeholder="Type your answer here...">
        </div>

        <div class="form-group">
          <label for="topic" class="text-light">Topic</label>
          <div class="radio inline">
            <input type="radio" name="topic" value="Technical">
            <label for="topic" class="text-light">Technical</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="topic" value="Behavioral">
            <label for="topic" class="text-light">Behavioral</label>
          </div>
        </div>

        <div class="form-group">
          <label for="status" class="text-light">Status</label>
          <div class="radio inline">
            <input type="radio" name="status" value="Confident">
            <label for="status" class="text-light">Confident</label>
          </div>
          <div class="radio inline">
            <input type="radio" name="status" value="NeedMorePractice">
            <label for="status" class="text-light">Need More Practice</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>

      </div>
    </form>

  </div>
</main>
<!-- /Main Site -->

<!-- include _footer -->
  <%- include('include/_footer')%>
<!-- /include _footer -->
